# Importing the Dataset

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


# Importing the Libraries

In [29]:
data=pd.read_csv("/content/Crude Oil Prices Daily (2).csv")

# Handling Missing Data

In [30]:
data.isnull().any()

Date             False
Closing Value     True
dtype: bool

In [31]:
data.isnull().sum()

Date             0
Closing Value    7
dtype: int64

In [32]:
data.dropna(axis=0,inplace=True)

In [34]:
data.isnull().sum()

Date             0
Closing Value    0
dtype: int64

In [35]:
data_oil=data.reset_index()['Closing Value']
data_oil

0       25.56
1       26.00
2       26.53
3       25.85
4       25.87
        ...
8211    73.89
8212    74.19
8213    73.05
8214    73.78
8215    73.93
Name: Closing Value, Length: 8216, dtype: float64